body{
  text-align: center;  
  
}

/*输入框样式*/
input{
  width: 100%;  
  height: 50px;  
  border:none;  
  padding-left:3px;  
  font-size: 18px; 
  background-color:transparent;/*背景透明*/
  margin-top: 50px;
  }
input:focus {  
      outline: none;  
  }
  
  /*登录按钮*/
  button{  
      width: 200px;  
      height: 50px;  
      margin-top:  px;  
      background: #1E90FF;  
      border-radius: 10px;  
      border:none;
      font-size: 18px;
      font-weight: 700;  
      color: #fff;
      margin-top: 50px
  }
  button:hover {
  background: #79A84B;  
  outline: 0;
  }
  /*输入框底部半透明横线*/
  .input_block {
    width: 350px;
    margin: auto; 
    border-bottom: 2px solid  blue;
  }
  /*container*/
  #page_container{
    margin: 50px;
  }